# File extensions
*~
*#*#*
*.d
*.so
*.pcm
*.ps
*.eps
.nfs*
*.root
*.root*
*_-1_0_-1
*_0_-1
Tmp*
*.log

# Data files
list.*
*.dat
*_bin_interval*
x_unsep.*
Eb*
par.*

# Fortran
average_kinematics
calc_xsect
fort.99

# Active fortran scripts
param_active.f
param_active.py
xmodel_active.f

# Directories
__pycache__
build
average_kinematics

# Sym link
worksim
OUTPUTS
OUTPUT
data
simc_gfortran
log

$HOME
